html{
	font-family: 'Ovo', sans-serif;
	font-size: 110%
}
@media all and (min-width: 500px) {
	html {
		font-size: 120%
	}
}
body {
	padding: 0;
	margin: 0;
	background-color: lightgray;
}

.main-header {
	text-align: center;
	background-image: url(title.jpg);
	background-size: cover;
	color: black;
	padding: .5em;
	font-size: 1em;
	display: flex;
	justify-content:center;
}
	.main-header__title1{
		float: left;
		font-size: 2em;
		margin: auto 1em;
	}
	.main-header__title2{
		font-size: 1em;
		font-weight: normal;
		border-top: 1px solid;
		border-bottom: 1px solid;
	}
	@media screen and (max-width: 500px) {
		.main-header{
			background-color: olive;
		}
	}
.weather{
	display: flex;
	justify-content: center;
	padding: 1em;
	flex-wrap: wrap;
}
	.weather-card{
		width: 14em;
		height: 7em;
		margin: 1em;
		padding: 1em;
		color: white;
		background-size: cover;
	}
	.weather-card[data-img="aqp"]
	{
		background-image: url("aqp.jpg"); 
	}
	.weather-card[data-img="lima"]
	{
		background-image: url("lima.jpg"); 
	}
		.weather-card__header{
			text-align: center;
			padding: .3em;
			margin: 0;
			font-family: Ovo;
			border-bottom: 2px solid;
			font-size: 1.5em;
			font-weight: normal;
			
		}
		.weather-card__date{
			padding: .3em;
			margin: 0;
			font-weight: normal;
			text-align: center;
		}
		.weather-card__list{
			display: flex;
			justify-content: center;
			padding: 0;
			margin: 0;
		}
			.weather-card__list__celsius{
				list-style-type: none;
				font-size: 2em;
				padding: 0 .5em 0 0;
				border-right: 1px solid;
			}
			.weather-card__list__faren{
				list-style-type: none;
				font-size: 2em;
				padding: 0 0 0 .5em;
			}